/* Import and apply Roboto font with a slight italic style */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,400;0,700;1,400&display=swap');

/* Apply Roboto Slab font to the entire website */
body {
    font-family: 'Roboto Slab', serif;
}

/* You can also specify the font for specific elements if needed */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

/* Add more specific font styles for other elements as needed */
p {
    font-family: 'Roboto Slab', serif;
}


body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    color: #42446E;
}


body {

    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 80px;
    padding-left: 12vw;
    padding-right: 12vw;
    background-color: #E7F0ED;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


html {
    scroll-behavior: smooth;
}

.tcm {
    display: flex;
    align-items: center;
    justify-content: center;
        }

button:hover {
    background-color: #3498db;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}


body {
    background: linear-gradient(45deg, #3498db, #f9f9f9, #3ce767);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

#assignments {
    height: 30vw;
    align-items: center;
    position: relative;
    color: white;
    box-sizing: border-box;
}

.container{
    width: 80%;
position: absolute;
top: 50%;
bottom: 0;
left: 50%;
right: 0;
align-items: center;
    transform: translate(-50%,-50%);
}

.container h2{
    text-align: center;
    font-size: 34px;
    color: #42446E;
    margin-bottom: 4vw;

}

.container .services{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .services .card{
    width: 19vw;
    text-align: center;
    background: #222;
    padding: 34px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.container .services .card:hover{
    background: chocolate;
}

.container .services .card .content{
    transition: 0.3s;
}

.container .services .card:hover .content{
    transform: scale(1.07);
}

.container .services .card .content .icon{
    padding: 5px 0;
    color: white;
}

.container .services .card .content .icon i{
    font-size: 40px;
}

.container .services .card:hover .content .title{
    color: white;
}

.container .services .card .content .title{
    padding: 5px 0;
    font-size: 20px;
    font-weight: 500;
    color: chocolate;
    transition: 0.3s;
}

.container .services .card .content .pnt{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.logo img {
    max-width: 100px;
}

.nav {
    position: relative;
    flex-grow: 1;
    margin-left: 19vw;
}

nav a {
    text-decoration: none;
    margin-right: 2.42vw;
    color: #333;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wave-hand {
    display: inline-block;
    font-size: 36px;
    animation: wave 2s infinite;
}


nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}


main {
    padding: 20px;
}


.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -10px;



    .project {
        flex-basis: calc(22% - 20px);
        margin: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #fff;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
    }

    .project:hover {
        background-color: #E7F0ED;

    }



    .box {
        text-align: center;
    }

    .box img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 150px;
        display: block;
        margin: 0;
    }


    .box h3 {
        font-size: 18px;
        margin-top: 13px;
        margin-bottom: 5px;
    }

    .box p {
        margin: 13px;
        font-size: 14px;
        line-height: 1.5;
    }


}


.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 100px;
}

.gallery-image {
    width: 47vw;
    height: auto;
    margin-left: 8vw;
    margin-right: 8vw;
    border-radius: 10px;
}


.gallery-arrow1 {
    width: 3vw;
    height: 3vw;
    margin: 0 10px;
    cursor: pointer;
}

.gallery-arrow1:hover {
    opacity: 0.7;
}

.gallery-arrow2 {
    width: 3vw;
    height: 3vw;
    margin: 0 10px;
    cursor: pointer;
}

.gallery-arrow2:hover {
    opacity: 0.7;
}



.frow {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    border: #000;
    margin-bottom: 20px;
    width: 50vw;
}

.button1 {
    width: 80px;
    height: 30px;
    font-size: 12px;
    border-radius: 20px;
    background-color: greenyellow;
    cursor: pointer;
}


#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13vw;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s ease forwards;
}

#home p {
    font-size: 34px;
    white-space: pre-wrap;
    margin: 0;
    padding-left: 0;
    margin-left: 12vw;
    line-height: 1.6;
}

#home aside img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 10vw;
}

.special-text {
    text-decoration: none;
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    color: transparent;
}



#my-tech-stack {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s ease forwards;
}

#my-tech-stack h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#my-tech-stack h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 50px;
}

#my-tech-stack img {
    width: 120px;
    margin: 40px;

    margin-left: 80px;
    margin-right: 80px;
}

.flip-image {
    width: 120px;
    transition: transform 0.3s;
}

.flip-image:hover {
    transform: rotateY(180deg);
}

#projects {

    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
}

#projects h1 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 100px;
}


#projects h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 30px;
}

#gallery {
    text-align: center;
    margin-top: 100px;
}

#gallery h1 {
    font-size: 36px;
    margin-bottom: 70px;
}

#about {
    margin-top: 16vw;
    margin-left: 12vw;
}

#about h1 {
    font-size: 36px;
    margin-bottom: 25px;
}


#about p {
    width: 60vw;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 5vw;
}

#about h3 {
    font-size: 20px;
    color: #666;
}

#about h5 {
    color: #666;
}

#contact {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 130px;
}

#contact h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contact a {
    font-size: 24px;
    text-decoration: none;
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    color: transparent;
}


#contact hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #666;
}

footer {
    position: relative;
    background-color: #E7F0ED;
    color: #42446E;
    padding: 6vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

#footSec1 {
    display: flex;
    justify-content: space-between;
}

#footSec2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
    margin-top: 45px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.pn {
    margin-right: 30px;
    color: #42446E;
}


.contact-info div {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.social-icons {
    display: flex;
    gap: 10px;
}


#contactf {
    text-align: center;
    margin-top: 12vw;
    margin-bottom: 13vw;
}

#contact_form {
    max-width: 50vw;
    margin: 0 auto;
    padding: 30px;
    background-color: #fcfcfc;
    border-radius: 10px;
    border: 1px solid #000;
    transition: box-shadow 0.3s, border 0.3s;
}

#contact_form:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #13B0F5;
}


#contact_form h1 {
    font-size: 24px;
    margin-bottom: 2vw;
}

#contact_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

#contact_form input,
#contact_form textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contact_form button {
    width: 100%;
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#contact_form a {
    color: #000;
}




#contact_form input:focus,
#contact_form textarea:focus {
    outline: none;
    border-color: #13B0F5;
    box-shadow: 0px 0px 5px rgba(19, 176, 245, 0.7);
}


.social-icons img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.spacediv {
    margin-top: 30px;
    height: 0.5px;
    background-color: #666;
}

nav a {
    text-decoration: none;
    color: #42446E;
    margin: 0 15px;
}

.mobile-header {
    display: none;

}

.hamburger-icon {
    max-width: 30px;
    cursor: pointer;
    margin-right: 0px;
}


@media (max-width : 1024px) {

    #my-tech-stack img {
        width: 80px;
        margin: 30px;
    
        margin-left: 80px;
        margin-right: 80px;
    }

    .tcm {
display: flex;
align-items: center;
justify-content: center;
    }

.container h2{
    font-size: 30px;
}
.container .services .card .content .title{
    padding: 5px 0;
    font-size: 17px;
    font-weight: 500;
    color: chocolate;
    transition: 0.3s;
}

.container .services .card .content .pnt{
    padding: 5px 0;
    font-size: 12px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
    #home p {
        font-size: 30px;
    }

    #my-tech-stack h1 {
        font-size: 30px;
    }

    #projects h1 {

        font-size: 30px;
    }

    #gallery h1 {
margin-top: 15vw;
margin-bottom: 45px;
        font-size: 30px;
    }

    #contact h1 {
        font-size: 30px;
    }

    #about h1 {
        font-size: 30px;
    }



    .nav {
        flex-grow: 1;
        margin-left: 8vw;
        align-items: center;

    }

    .project-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 -10px;


        .project {
            flex-basis: calc(22% - 20px);
            margin: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #fff;
            text-align: center;
        }


        .box {
            text-align: center;
            width: 200px;
        }

    }

}


@media (max-width: 768px) {
    header {
        padding: 28px;
        padding-left: 7vw;
        padding-right: 7vw;
        align-items: center;
    }


    #assignments {
        height: 44vw;
        align-items: center;
        position: relative;
        color: white;
        box-sizing: border-box;
    }
    .container h2{
        font-size: 24px;
    }
    .container .services .card .content .title{
        padding: 5px 0;
        font-size: 17px;
        font-weight: 500;
        color: chocolate;
        transition: 0.3s;
    }
    
    .container .services .card .content .pnt{
        padding: 5px 0;
        font-size: 12px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }

    .logo img {
        max-width: 75px;
    }

    .nav {
        margin-left: 6vw;
    }

    .nav a {
        font-size: 13px;
    }

    .social-icons {
        display: flex;
        gap: 8px;
    }

    .social-icons img {
        width: 15px;
        height: 15px;
        object-fit: cover;
        border-radius: 50%;
    }

    .project-row {
        margin: 0 -5px;
    }

    .project {
        flex-basis: calc(33.33% - 10px);
        margin: 5px;
    }


    #home p {
        font-size: 24px;
        line-height: 1.4;

    }

    #my-tech-stack h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #my-tech-stack h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #my-tech-stack img {
        width: 70px;
        margin: 5vw;

    }



    .project-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        margin: 0 -10px;


        .project {
            flex-basis: calc(22% - 20px);
            margin: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #fff;
            text-align: center;
        }


        .box {
            text-align: center;
            width: 100%;
            margin-bottom: 3vw;
        }

        .box img {
            height: 20vw;
        }
    }

    .project {
        flex-basis: 100%;
        margin: 10px;
    }

    #projects {
        margin-left: 30vw;
        margin-right: 30vw;
    }

    #projects h1 {
        font-size: 24px;

        margin-bottom: 10px;
        margin-top: 50px;
    }

    #projects h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    #gallery h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .gallery-image {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-left: 4vw;
        margin-right: 4vw;

    }

    .gallery-container {
        flex-direction: row;
        align-items: center;
    }

    .gallery-arrow1,
    .gallery-arrow2 {
        width: 20px;
        /* Adjust the arrow size as needed */
        height: 20px;
    }

    #about {
        margin-top: 20px;
    }

    #about h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #about p {
        width: 90%;
        font-size: 14px;
        margin-bottom: 50px;
    }

    #about h3 {
        font-size: 16px;
    }

    #about h5 {
        font-size: 14px;
        margin-top: 0px;
    }

    #contact {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    #contact h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    #contact a {
        font-size: 18px;
    }

    footer {
        padding: 30px;
    }

    #footSec1 {
        align-items: center;
    }




    .social-icons img {
        width: 20px;
        height: 20px;
    }

    .spacediv2 {
        display: none;
    }

    .nav2 {
        margin-top: 0px;
    }

    .nav2 a {
        font-size: 14px;

        margin: 5px;
    }

    .pn {
        font-size: 14px;
    }



}


@media All and (max-width: 426px) {

    html {
        overflow-x: hidden;
    }

    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    #assignments {
        height: 180vw;
        align-items: center;
        position: relative;
        color: white;
        box-sizing: border-box;
    }
    
    .container{
    width: 60%;
    position: absolute;
    top: 42%;
    left: 50%;
    right: 0;
    align-items: center;
        transform: translate(-50%,-50%);
    }
    

    .container h2{
        font-size: 24px;
        margin-bottom: 35px;
    }

    .container .services {
        display: flex;
        flex-direction: column;
    }

    .container .services .card {

        width: 70%;
    }
    .container .services .card .content .title{
        padding: 5px 0;
        font-size: 17px;
        font-weight: 500;
        color: chocolate;
        transition: 0.3s;
    }
    
    .container .services .card .content .pnt{
        padding: 5px 0;
        font-size: 12px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        transition: 0.3s;
    }

    header {

        gap: 66vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        margin-left: 0vw;
    }

    .nav {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0vw;

    }

    header {
        padding: 20px;
    }

    #my-tech-stack h1 {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    #my-tech-stack h2 {
        font-size: 16px;
        margin-bottom: 40px;
    }

    #my-tech-stack img {
        width: 70px;
        margin: 40px;
        padding-bottom: 25px;

    }

    #contact_form h1 {
        font-size: 20px;
        margin-bottom: 10vw;
    }

    #contact_form label {
        display: block;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 8px;
        text-align: left;
    }

    #contact_form input,
    #contact_form textarea {
        width: 96%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 13px;
    }

    #contact_form button {
        width: 110%;
        background: linear-gradient(to right, #13B0F5, #E70FAA);
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 13px;
        cursor: pointer;
    }

    #contact_form a {
        color: #000;
    }



    .project-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin: 0 -10px;


        .project {
            flex-basis: calc(22% - 20px);
            margin: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #fff;
            text-align: center;
        }


        .box {
            text-align: center;
            width: 200px;

        }

        .box img {
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 150px;
            display: block;
            margin: 0;
        }
    }

    #projects {
        margin: 0;
    }

    #projects h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #projects h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #gallery {
        text-align: center;
        margin-top: 50px;
    }

    #gallery h1 {
        font-size: 24px;
        margin-top: 150px;
        margin-bottom: 10px;
    }

    .gallery-container {
        flex-direction: row;
        align-items: center;
    }

    .gallery-image {
        width: 150px;
    }

    .gallery-arrow1 {
        width: 18px;
        height: 18px;
    }

    .gallery-arrow2 {
        width: 18px;
        height: 18px;
    }

    .button1 {
        font-size: 10px;
        margin-bottom: 14px;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    #about h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 25px;
    }

    #about p {
        text-align: center;
        width: 80vw;
        font-size: 13px;
        margin-left: 0px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 50px;
    }

    #about h3 {
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
        color: #666;
    }

    #about h5 {
        text-align: center;
        color: #666;
    }

    #education {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .frow {
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

    }

    .button1 {
        width: 80px;
        height: 30px;
        border-radius: 20px;
        margin-top: 13px;
        background-color: greenyellow;
        cursor: pointer;
    }


    .nav {
        margin-left: 10px;
    }

    .project-row {
        flex-direction: column;
    }

    .project {
        flex-basis: 100%;
        margin: 10px;
    }

    #contact {
        margin-top: 35px;
        margin-bottom: 50px;
    }

    #contact h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #contact a {
        font-size: 16px;
    }

    #footSec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footSec2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        margin-top: 45px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-section img {
        margin-bottom: 10px;
    }


    .nav2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 0px;
        margin-bottom: 10vw;
    }

    .cin {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2vh;
        margin-top: 0.5vh;
    }

    .contact-info {
        margin-bottom: 0px;
    }


    .social-icons {
        display: none;
    }


    .spacediv {
        display: none;
        width: 80%;
        height: 1px;
        background-color: #666;
    }

    .spacediv2 {
        display: block;
        width: 150%;
        height: 0px;
        background-color: #666;
        margin-bottom: 14vw;
    }


    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }




    .pn {
        margin-right: 0px;
    }


    #about h1 {
        margin-bottom: 20px;
    }

    #home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    #home aside {
        order: -1;
        margin-bottom: -5vw;
    }

    #home aside img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-right: 0vw;
    }

    #home p {
        font-size: 20px;
        padding: 0px;
        margin: auto;
    }

    #my-tech-stack div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #my-tech-stack img {
        margin: 10px 0;
    }
}

@media All and (max-width: 320px) {

    html {
        overflow-x: hidden;
    }

    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    header {

        gap: 54vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
        margin-left: 0vw;
    }


    #assignments {
        height: 230vw;
        align-items: center;
        position: relative;
        color: white;
        box-sizing: border-box;
    }
    
    .container{
    width: 78%;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 0;
    align-items: center;
        transform: translate(-50%,-50%);
    }
    
    .nav {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5vw;

    }

    header {
        padding: 20px;
    }

    #my-tech-stack h1 {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    #my-tech-stack h2 {
        font-size: 16px;
        margin-bottom: 40px;
    }

    #my-tech-stack img {
        width: 70px;
        margin: 40px;
        padding-bottom: 25px;

    }

    #contact_form h1 {
        font-size: 20px;
        margin-bottom: 10vw;
    }

    #contact_form label {
        display: block;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 8px;
        text-align: left;
    }

    #contact_form input,
    #contact_form textarea {
        width: 96%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 13px;
    }

    #contact_form button {
        width: 110%;
        background: linear-gradient(to right, #13B0F5, #E70FAA);
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 13px;
        cursor: pointer;
    }

    #contact_form a {
        color: #000;
    }



    .project-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin: 0 -10px;


        .project {
            flex-basis: calc(22% - 20px);
            margin: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #fff;
            text-align: center;
        }


        .box {
            text-align: center;
            width: 200px;

        }

        .box img {
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 150px;
            display: block;
            margin: 0;
        }
    }

    #projects {
        margin: 0;
    }

    #projects h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #projects h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    #gallery {
        text-align: center;
        margin-top: 50px;
    }

    #gallery h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .gallery-container {
        flex-direction: row;
        align-items: center;
    }

    .gallery-image {
        width: 150px;
    }

    .gallery-arrow1 {
        width: 18px;
        height: 18px;
    }

    .gallery-arrow2 {
        width: 18px;
        height: 18px;
    }

    .button1 {
        font-size: 10px;
        margin-bottom: 14px;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    #about h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 25px;
    }

    #about p {
        text-align: center;
        width: 80vw;
        font-size: 13px;
        margin-left: 0px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 50px;
    }

    #about h3 {
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
        color: #666;
    }

    #about h5 {
        text-align: center;
        color: #666;
    }

    #education {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .frow {
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

    }

    .button1 {
        width: 80px;
        height: 30px;
        border-radius: 20px;
        margin-top: 13px;
        background-color: greenyellow;
        cursor: pointer;
    }


    .nav {
        margin-left: 10px;
    }

    .project-row {
        flex-direction: column;
    }

    .project {
        flex-basis: 100%;
        margin: 10px;
    }

    #contact {
        margin-top: 35px;
        margin-bottom: 50px;
    }

    #contact h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #contact a {
        font-size: 16px;
    }

    #footSec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footSec2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        margin-top: 45px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .logo-section img {
        margin-bottom: 10px;
    }


    .nav2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 0px;
        margin-bottom: 10vw;
    }

    .cin {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2vh;
        margin-top: 0.5vh;
    }

    .contact-info {
        margin-bottom: 0px;
    }


    .social-icons {
        display: none;
    }


    .spacediv {
        display: none;
        width: 80%;
        height: 1px;
        background-color: #666;
    }

    .spacediv2 {
        display: block;
        width: 150%;
        height: 0px;
        background-color: #666;
        margin-bottom: 14vw;
    }


    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }




    .pn {
        margin-right: 0px;
    }


    #about h1 {
        margin-bottom: 20px;
    }

    #home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    #home aside {
        order: -1;
        margin-bottom: -5vw;
    }

    #home aside img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-right: 0vw;
    }

    #home p {
        font-size: 20px;
        padding: 0px;
        margin: auto;
    }

    #my-tech-stack div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #my-tech-stack img {
        margin: 10px 0;
    }
}